body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
}

.title {
  font-weight: bold;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card {
  width: 400px;
  height: 200px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  margin: 0.5rem;
}

.card-answer {
  background-color: white;
}

.card:hover {
  transform: scale(1.05);
}

.card-text {
  font-size: 1.5rem;
  text-align: center;
}

.next-button, .previous-button {
  background-color: white;
  color: lightgreen;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.next-button:hover {
  background-color: lightgreen;
  color: white;
}

.previous-button:hover {
  background-color: lightgreen;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.answer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

input[type="text"] {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.submit-button {
  background-color: white;
  color: lightgreen;
  cursor: pointer;
}

.submit-button:hover {
  background-color: lightgreen;
  color: white;
}

.submit-box {
  font-size: 1.5rem;
  text-align: center;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}

